# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.ruff_cache/

# Logs
swanlog/
logs/
*.log

# Checkpoints
checkpoints/
*.pth

# Jupyter Notebook
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# HuggingFace
runs/
hub/

# Temporary files
tmp/
temp/

output/